.floor ol{
    background-color: rgb(250, 250, 250);
    height: calc(100% / 9);
    width: 100px;
    outline: 1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
  }
  
  .floor {
    height: 100%;
  }
  
  .container{
    height: 50vh;
    display: flex;
  }
  
  .floor button {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .floor button:hover {
    border-color: green;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  
  .btn-active {
      background-color: greenyellow;
  }
  
  .floor button:active {}
  .floor button:focus{}